.ipynb_checkpoints/
__pycache__/
results/
.vscode/

build/
*.engine.*

*.egg-info/

test_data/

# === ROS 2 build artifacts ===
build/
install/
log/

# Auxiliar ros2 packages
aux_packages/

# Files of pytorch models
dinov3_toolkit/backbone/weights/

# TensorRT lib
tensorrt_lib/